# House Price Analysis

## Import Libraries

In [18]:
# Import necessary libraries
import pandas as pd
import numpy as np

## Load the Data

In [19]:
# Load the dataset (CSV file)
df=pd.read_csv("D:\Zag-Eng-AI-26\Libraries\Pandas\House_Price_EDA\house_prices.csv")

<>:2: SyntaxWarning: "\Z" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Z"? A raw string is also an option.
<>:2: SyntaxWarning: "\Z" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Z"? A raw string is also an option.
C:\Users\DELL\AppData\Local\Temp\ipykernel_17312\1063875633.py:2: SyntaxWarning: "\Z" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\Z"? A raw string is also an option.
  df=pd.read_csv("D:\Zag-Eng-AI-26\Libraries\Pandas\House_Price_EDA\house_prices.csv")

## Explore the Data

In [20]:
# Show first 5 rows
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

- **Task:** Observe the data structure and column types.
- **Reflection:** Write a short note about what each column represents and any observations.

In [21]:
df.dtypes

Index                  int64
Title                    str
Description              str
Amount(in rupees)        str
Price (in rupees)    float64
location                 str
Carpet Area              str
Status                   str
Floor                    str
Transaction              str
Furnishing               str
facing                   str
overlooking              str
Society                  str
Bathroom                 str
Balcony                  str
Car Parking              str
Ownership                str
Super Area               str
Dimensions           float64
Plot Area            float64
dtype: object

In [22]:
# Title	:الاسم بتاع الشقة 
# Description :	الوصف بتاع الشقة معروضة للبيع ولا لأ وفيها كام أوضة
# Amount(in rupees)	: (lac)= 1000000  , السعر
# Price (in rupees)	: (Cr)=10000000 , السعر
# location : مكان الشقة
# Carpet Area : مساحة الشقة
# Status :	حالتها أيه جاهزة أنها تتباع أو تتسكن ولا لأ
# Floor	: فى الدور الكام
# Transaction : اتباعت قبل كده ولا دى أول مرة تتباع
# facing : الاتجاه
# overlooking :	بتطل على أيه الشارع الرئيسى ولا حديقة ولا أيه
# Society : المجمع اللى موجوده فيه
# Bathroom : فيها كام حمام 
# Balcony : فيها كام بلكونة
# Car Parking :	فيها كام باركينج ومغطى ولا مفتوح
# Ownership	: مين المالك المجمع ولا شخص
# Super Area :	المساحة الكلية
# Dimensions :	مش فيها داتا
# Plot Area : مش فيها داتا

In [23]:
# Number of rows and columns
df.shape

(187531, 21)

In [24]:
# Column names
df.columns

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       'Dimensions', 'Plot Area'],
      dtype='str')

In [25]:
# General info about all columns
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  str
 2   Description        184508 non-null  str
 3   Amount(in rupees)  187531 non-null  str
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  str
 6   Carpet Area        106858 non-null  str
 7   Status             186916 non-null  str
 8   Floor              180454 non-null  str
 9   Transaction        187448 non-null  str
 10  Furnishing         184634 non-null  str
 11  facing             117298 non-null  str
 12  overlooking        106095 non-null  str
 13  Society            77853 non-null   str
 14  Bathroom           186703 non-null  str
 15  Balcony            138596 non-null  str
 16  Car Parking        84174 non-null   str
 17  Ownership          122014 non-null  str
 18  Super Area         79846 non-null   str
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), str(17)
memory usage: 30.0 MB

In [26]:
# Count of missing values in each column
df.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

- **Task:** Review missing values.
- **Reflection:** Which columns have the most missing data? Which columns are mostly complete? How might missing data affect your analysis?

In [27]:
#Title & Amount(in rupees) & location donot have missing values
#Dimensions & Plot Area القيم كلها فيهم مفقودة
#الداتا المفقودة هتخليني آخد قرارات غلط وأنا ببنى الموديل بعد كده

In [28]:
# Summary statistics for numerical columns
df.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

- **Task:** Review the summary statistics for numeric columns.
- **Reflection:** Write a note on unusual values (like 0 or extremely high numbers) and columns that may need cleaning.

In [29]:
#Dimensions	& Plot Area: دول محتاجين يتحذفوا لأن كل القيم فيهم بnon

In [47]:
# check for duplicate rows
df.duplicated()

181234    False
147912    False
180679    False
176536    False
174894    False
          ...
187404    False
187442    False
187503    False
187506    False
187513    False
Length: 187531, dtype: bool

## Data Cleaning

In [31]:
# Fill missing 'Price (in rupees)' with the mean
df['Price (in rupees)'].fillna(df['Price (in rupees)'].mean(),inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_17312\3345438529.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Price (in rupees)'].fillna(df['Price (in rupees)'].mean(),inplace=True)

0          6000.000000
1         13799.000000
2         17500.000000
3          7583.771885
4         18824.000000
              ...
187526     3225.000000
187527     3274.000000
187528     4343.000000
187529     4231.000000
187530     6162.000000
Name: Price (in rupees), Length: 187531, dtype: float64

In [32]:
# Fill missing 'Carpet Area' with median (safer than mean for skewed data)
df['Carpet Area'].fillna(df['Carpet Area'].mode()[0],inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_17312\3596312097.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Carpet Area'].fillna(df['Carpet Area'].mode()[0],inplace=True)

0          500 sqft
1          473 sqft
2          779 sqft
3          530 sqft
4          635 sqft
            ...
187526    1000 sqft
187527    1000 sqft
187528    1250 sqft
187529    1000 sqft
187530    1000 sqft
Name: Carpet Area, Length: 187531, dtype: str

In [33]:
# Fill missing 'Status' with 'Unknown'
df['Status'].fillna('Unknown',inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_17312\3959981174.py:2: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df['Status'].fillna('Unknown',inplace=True)

0         Ready to Move
1         Ready to Move
2         Ready to Move
3         Ready to Move
4         Ready to Move
              ...
187526    Ready to Move
187527    Ready to Move
187528    Ready to Move
187529    Ready to Move
187530    Ready to Move
Name: Status, Length: 187531, dtype: str

In [34]:
# Drop columns with mostly missing values (>80%)
#>80% === >150024
#Dimensions,Plot Area
df.drop(columns=['Dimensions','Plot Area'],inplace=True)

In [35]:
# Show cleaned data
df

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,Semi-Furnished,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,Unfurnished,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,Furnished,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,Semi-Furnished,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,Semi-Furnished,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft

**Task:** Perform basic data cleaning as shown above.

**Reflection** Questions (write your answers ):

- Which columns did you clean and why?

- Why did you fill Price (in rupees) with the mean instead of dropping rows?

- Why did you fill Carpet Area with the median?

- Why did you fill Status with 'Unknown'?

- Why did we drop columns with mostly missing values (>80%)?

- How do you think these cleaning steps will affect your analysis later?

In [ ]:
'''
- Which columns did you clean and why?
'price' , 'Carpet Area' , 'Status' , 'Dimensions' , 'Plot Area'
- Why did you fill Price (in rupees) with the mean instead of dropping rows?
because it is an important column and missing values is title
- Why did you fill Carpet Area with the median?

- Why did you fill Status with 'Unknown'?
number of missing values is little
وكمان مش هينفع أخمن هى جاهزة للسكن ولا لأ
- Why did we drop columns with mostly missing values (>80%)?
وجودهم مش هينفعنى عشان الداتا اللى موجودة فيهم قليلة أوى
- How do you think these cleaning steps will affect your analysis later?
هتخلينى آخد قرارات أحسن وأصح
'''

"\n- Which columns did you clean and why?\n'price' , 'Carpet Area' , 'Status' , 'Dimensions' , 'Plot Area'\n- Why did you fill Price (in rupees) with the mean instead of dropping rows?\nbecause it is an important column and missing values is title\n- Why did you fill Carpet Area with the median?\n\n- Why did you fill Status with 'Unknown'?\nnumber of missing values is little\nوكمان مش هينفع أخمن هى جاهزة للسكن ولا لأ\n- Why did we drop columns with mostly missing values (>80%)?\nوجودهم مش هينفعنى عشان الداتا اللى موجودة فيهم قليلة أوى\n- How do you think these cleaning steps will affect your analysis later?\nهتخلينى آخد قرارات أحسن\n"

## Filtering & Sorting Data

In [50]:
# Flats with Price less than 1 Cr
df[df['Price (in rupees)']<1]

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
165311,165311,2 BHK Ready to Occupy Flat for sale Dhirenpara,This ready to move-in 2 BHK flat is available ...,48 Lac,0.0,guwahati,1100 sqft,Ready to Move,2 out of 2,Resale,Unfurnished,NaN,NaN,NaN,2,2,NaN,NaN,NaN
176399,176399,3 BHK Ready to Occupy Flat for sale Panthaghati,"Panthaghati, Shimla has an appealing 3 BHK fla...",1.51 Cr,0.0,shimla,1480 sqft,Ready to Move,3 out of 4,New Property,Furnished,South,Main Road,NaN,3,2,"10 Covered,",Freehold,NaN
166029,166029,2 BHK Ready to Occupy Flat for sale Harishanka...,One can find this stunning 2 BHK flat for sale...,45 Lac,0.0,gwalior,800 sqft,Ready to Move,1 out of 2,Resale,Unfurnished,NaN,NaN,NaN,2,1,NaN,Freehold,NaN
185086,185086,3 BHK Ready to Occupy Flat for sale Indhiranag...,Discover this immaculate 3 BHK flat for sale a...,1.05 Cr,0.0,visakhapatnam,NaN,Ready to Move,NaN,Resale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"530,040 ground"
175044,175044,2 BHK Ready to Occupy Flat for sale Shanti Enc...,Up for immediate sale is a 2 BHK apartment in ...,27 Lac,0.0,raipur,NaN,Ready to Move,1 out of 5,Resale,Unfurnished,NaN,NaN,NaN,2,1,NaN,Co-operative Society,998 acre
176805,176805,2 BHK Ready to Occupy Flat for sale Jule Solapur,2 BHK flat available for sale in Solapur in th...,37 Lac,0.0,solapur,NaN,Ready to Move,3 out of 5,Resale,Unfurnished,East,Garden/Park,NaN,2,1,NaN,NaN,585 ground
154245,154245,2 BHK Ready to Occupy Flat for sale Aluva,Creatively planned and constructed is a 2 BHK ...,29 Lac,0.0,ernakulam,NaN,Ready to Move,22 out of 22,Resale,Furnished,NaN,NaN,NaN,2,1,NaN,Freehold,700 ground
174916,174916,3 BHK Ready to Occupy Flat for sale in Wallfor...,"Bhatgaon, Raipur has an appealing 3 BHK flat f...",78 Lac,0.0,raipur,1750 sqft,Ready to Move,8 out of 10,Resale,Unfurnished,East,"Garden/Park, Pool",Wallfort Heights,3,2,NaN,Freehold,NaN
167515,167515,1 BHK Ready to Occupy Flat for sale Ram Reaide...,1 BHK flat available for sale in Kalyan in the...,16 Lac,0.0,kalyan,525 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN
165838,165838,3 BHK Ready to Occupy Flat for sale in Ashoka ...,This beautiful 3 BHK Flat is available for sal...,79 Lac,0.0,guwahati,1460 sqft,Ready to Move,1 out of 4,Resale,Semi-Furnished,East,Main Road,Ashoka Apartment,2,2,NaN,Freehold,NaN
183352,183352,3 BHK Ready to Occupy Flat for sale surya apar...,This ready to move-in 3 BHK flat is available ...,80 Lac,0.0,varanasi,1160 sqft,Ready to Move,2 out of 5,Resale,Unfurnished,East,NaN,NaN,2,3,NaN,Freehold,NaN

In [37]:
# Flats with Carpet Area greater than 600 sqft
df[df['Carpet Area']>'600 sqft']

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN
9,9,3 BHK Ready to Occupy Flat for sale in Pride P...,One can find this stunning 3 BHK flat for sale...,1.60 Cr,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,Unfurnished,East,Garden/Park,Pride Palms,3,1,1 Covered,Freehold,NaN
10,10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,Up for immediate sale is a 3 BHK apartment in ...,1.40 Cr,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,Semi-Furnished,NaN,Main Road,Cosmos Lounge,2,NaN,1 Open,Co-operative Society,NaN
15,15,2 BHK Ready to Occupy Flat for sale in Puranik...,"Kasarvadavali, Thane has an appealing 2 BHK fl...",90 Lac,10000.0,thane,675 sqft,Ready to Move,10 out of 16,New Property,Unfurnished,North - East,"Garden/Park, Main Road",Puraniks Tokyo Bay,2,1,1 Covered,Freehold,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187507,187507,2 BHK Ready to Occupy Flat for sale in KSB Dre...,2 BHK flat available for sale in Zirakpur in t...,39.5 Lac,4389.0,zirakpur,800 sqft,Ready to Move,Ground out of 2,New Property,Semi-Furnished,North - East,Main Road,KSB Dream Homes,2,2,1 Open,Co-operative Society,NaN
187509,187509,2 BHK Ready to Occupy Flat for sale in Savitry...,Have a look at this immaculate 2 BHK flat for ...,39.9 Lac,3595.0,zirakpur,900 sqft,Ready to Move,4 out of 12,New Property,Unfurnished,North - East,Garden/Park,Savitry City,2,2,"1 Covered,",Freehold,NaN
187512,187512,2 BHK Ready to Occupy Flat for sale in Jaivee ...,"Peer Muchalla, Zirakpur has an appealing 2 BHK...",40 Lac,3810.0,zirakpur,950 sqft,Ready to Move,3 out of 3,Resale,Semi-Furnished,East,"Garden/Park, Main Road",Jaivee Radha Enclave,2,2,NaN,Freehold,NaN
187516,187516,2 BHK Ready to Occupy Flat for sale Gazipur,This beautiful 2 BHK Flat is available for sal...,29.9 Lac,3322.0,zirakpur,750 sqft,Ready to Move,2 out of 3,New Property,Semi-Furnished,North - East,Main Road,NaN,2,2,1 Covered,Freehold,NaN
187524,187524,3 BHK Ready to Occupy Flat for sale in Sushma ...,One can find this stunning 3 BHK flat for sale...,69.6 Lac,5135.0,zirakpur,895 sqft,Ready to Move,5 out of 8,Resale,Semi-Furnished,North - East,"Garden/Park, Pool, Main Road",Sushma Joynest MOH 1,3,2,1 Covered,Freehold,NaN

In [70]:
# Sort by Price descending
df.sort_values(by='Price (in rupees)',ascending=False)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252 sqft,Ready to Move,5 out of 9,New Property,Unfurnished,NaN,NaN,Nest Harmony,3,5,1 Covered,NaN,NaN
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,3 ground,Ready to Move,1 out of 2,Resale,Furnished,NaN,Main Road,NaN,5,1,NaN,NaN,NaN
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,NaN,Ready to Move,4 out of 4,Resale,Semi-Furnished,NaN,NaN,NaN,2,NaN,NaN,NaN,1 sqft
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970 sqft,Ready to Move,1 out of 4,New Property,Unfurnished,North,Main Road,NaN,2,1,1 Covered,Freehold,NaN
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920 sqft,Ready to Move,2 out of 2,New Property,Unfurnished,East,"Garden/Park, Pool, Main Road",NaN,2,2,"1 Covered,",Freehold,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187404,187404,3 BHK Ready to Occupy Flat for sale Gazipur,This gorgeous 3 BHK Flat is available for sale...,Call for Price,NaN,zirakpur,1450 sqft,Ready to Move,3 out of 9,Resale,Semi-Furnished,North,Garden/Park,NaN,3,3,NaN,Freehold,NaN
187442,187442,3 BHK Ready to Occupy Flat for sale in Roseate...,Have a look at this immaculate 3 BHK flat for ...,Call for Price,NaN,zirakpur,1200 sqft,Ready to Move,2 out of 4,New Property,Semi-Furnished,North,Garden/Park,Roseate Homes,3,2,1 Open,Freehold,NaN
187503,187503,3 BHK Ready to Occupy Flat for sale in Aura Ho...,Up for immediate sale is a 3 BHK apartment in ...,Call for Price,NaN,zirakpur,990 sqft,Ready to Move,4 out of 5,New Property,Semi-Furnished,North - East,Pool,Aura Homes 1,3,2,1 Open,Co-operative Society,NaN
187506,187506,4 BHK Ready to Occupy Flat for sale Peer Muchalla,Carefully laid out in the prime location of Pe...,Call for Price,NaN,zirakpur,2500 sqft,Ready to Move,6 out of 7,Resale,Furnished,East,"Garden/Park, Main Road",NaN,4,4,2 Covered,Freehold,NaN
187513,187513,3 BHK Ready to Occupy Flat for sale in Motia C...,This ready to move-in 3 BHK flat is available ...,Call for Price,NaN,zirakpur,1200 sqft,Ready to Move,3 out of 3,Resale,NaN,NaN,NaN,Motia City,NaN,NaN,2 Covered,NaN,NaN

In [54]:
# show each data after sorting
df

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252 sqft,Ready to Move,5 out of 9,New Property,Unfurnished,NaN,NaN,Nest Harmony,3,5,1 Covered,NaN,NaN
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,3 ground,Ready to Move,1 out of 2,Resale,Furnished,NaN,Main Road,NaN,5,1,NaN,NaN,NaN
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,NaN,Ready to Move,4 out of 4,Resale,Semi-Furnished,NaN,NaN,NaN,2,NaN,NaN,NaN,1 sqft
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970 sqft,Ready to Move,1 out of 4,New Property,Unfurnished,North,Main Road,NaN,2,1,1 Covered,Freehold,NaN
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920 sqft,Ready to Move,2 out of 2,New Property,Unfurnished,East,"Garden/Park, Pool, Main Road",NaN,2,2,"1 Covered,",Freehold,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187404,187404,3 BHK Ready to Occupy Flat for sale Gazipur,This gorgeous 3 BHK Flat is available for sale...,Call for Price,NaN,zirakpur,1450 sqft,Ready to Move,3 out of 9,Resale,Semi-Furnished,North,Garden/Park,NaN,3,3,NaN,Freehold,NaN
187442,187442,3 BHK Ready to Occupy Flat for sale in Roseate...,Have a look at this immaculate 3 BHK flat for ...,Call for Price,NaN,zirakpur,1200 sqft,Ready to Move,2 out of 4,New Property,Semi-Furnished,North,Garden/Park,Roseate Homes,3,2,1 Open,Freehold,NaN
187503,187503,3 BHK Ready to Occupy Flat for sale in Aura Ho...,Up for immediate sale is a 3 BHK apartment in ...,Call for Price,NaN,zirakpur,990 sqft,Ready to Move,4 out of 5,New Property,Semi-Furnished,North - East,Pool,Aura Homes 1,3,2,1 Open,Co-operative Society,NaN
187506,187506,4 BHK Ready to Occupy Flat for sale Peer Muchalla,Carefully laid out in the prime location of Pe...,Call for Price,NaN,zirakpur,2500 sqft,Ready to Move,6 out of 7,Resale,Furnished,East,"Garden/Park, Main Road",NaN,4,4,2 Covered,Freehold,NaN
187513,187513,3 BHK Ready to Occupy Flat for sale in Motia C...,This ready to move-in 3 BHK flat is available ...,Call for Price,NaN,zirakpur,1200 sqft,Ready to Move,3 out of 3,Resale,NaN,NaN,NaN,Motia City,NaN,NaN,2 Covered,NaN,NaN

**Task:** Apply filtering and sorting.

**Reflection** Questions:

- Which filters did you apply?

- What did you learn from the sorted data?

- Are there any patterns or outliers?

In [71]:
'''
- Which filters did you apply?
'Price' , 'CarpetnArea'
- What did you learn from the sorted data?

- Are there any patterns or outliers?
'''

"\n- Which filters did you apply?\n'Price' , 'CarpetnArea'\n- What did you learn from the sorted data?\n\n- Are there any patterns or outliers?\n"

## Selecting Key Columns

In [40]:
# select the following columns from the cleaned dataset  Title , Price (in rupees), Carpet Area, Status, Floor, location
df[['Title' , 'Price (in rupees)', 'Carpet Area' , 'Status', 'Floor', 'location']]

,Title,Price (in rupees),Carpet Area,Status,Floor,location
181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,6700000.0,1252 sqft,Ready to Move,5 out of 9,vadodara
147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,4500000.0,3 ground,Ready to Move,1 out of 2,agra
180679,2 BHK Ready to Occupy Flat for sale Fatehpura,4500000.0,NaN,Ready to Move,4 out of 4,udaipur
176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,4041600.0,970 sqft,Ready to Move,1 out of 4,siliguri
174894,2 BHK Ready to Occupy Flat for sale Kachna Road,3450000.0,920 sqft,Ready to Move,2 out of 2,raipur
...,...,...,...,...,...,...
187404,3 BHK Ready to Occupy Flat for sale Gazipur,NaN,1450 sqft,Ready to Move,3 out of 9,zirakpur
187442,3 BHK Ready to Occupy Flat for sale in Roseate...,NaN,1200 sqft,Ready to Move,2 out of 4,zirakpur
187503,3 BHK Ready to Occupy Flat for sale in Aura Ho...,NaN,990 sqft,Ready to Move,4 out of 5,zirakpur
187506,4 BHK Ready to Occupy Flat for sale Peer Muchalla,NaN,2500 sqft,Ready to Move,6 out of 7,zirakpur
187513,3 BHK Ready to Occupy Flat for sale in Motia C...,NaN,1200 sqft,Ready to Move,3 out of 3,zirakpur

**Task:** Focus on key columns.

**Reflection** Questions:

- Why did you select these columns?

- How might they relate to each other in analysis?

In [60]:
'''
الأعمدة اللى أختارناها دى أهم بيانات عن الشقة وكمان البيانات المفقودة فيهم كانت قليلية فالتعديلات المعمولة عليهم قليلة
'''

'\nالأعمدة اللى أختارناها دى أهم بيانات عن الشقة وكمان البيانات المفقودة فيهم كانت قليلية فالتعديلات المعمولة عليهم قليلة\n'

## Aggregations & Relationships

In [41]:
# Average price
df['Price (in rupees)'].mean()

np.float64(7583.771884897507)

In [42]:
# Average price by Location
df.groupby('location')['Price (in rupees)'].mean()

location
agra             14959.876513
ahmadnagar        4256.428571
ahmedabad         5459.368451
allahabad         8724.024540
aurangabad        4698.347826
                     ...
varanasi          6465.550388
vijayawada        4180.511952
visakhapatnam     4955.019925
vrindavan         5348.610169
zirakpur          4170.477632
Name: Price (in rupees), Length: 81, dtype: float64

In [43]:
# Min and Max carpet area
print(df['Carpet Area'].max())
print(df['Carpet Area'].min())

999 sqft
1 kanal

In [44]:
# Average Price by Status
df.groupby('Status')['Price (in rupees)'].mean()

Status
Ready to Move    7590.043711
Name: Price (in rupees), dtype: float64

In [63]:
# Average Carpet Area by Location
df.groupby('location')['Carpet Area'].mean()

TypeError: dtype 'str' does not support operation 'mean'

**Task:** Calculate aggregations and explore relationships.

**Reflection** Questions:

- What patterns do you see between Price, Carpet Area, Status, and Location?

- Any surprising insights?

In [64]:
#كل ما كانت الشقة جاهزة والمكان بتاعها كويس كل ما كان سعرها أغلى

## General Questions on Data

In [ ]:
# Display the first 10 rows of the cleaned dataset.
df.head(10)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252 sqft,Ready to Move,5 out of 9,New Property,...,NaN,NaN,Nest Harmony,3,5,1 Covered,NaN,NaN,NaN,NaN
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,3 ground,Ready to Move,1 out of 2,Resale,...,NaN,Main Road,NaN,5,1,NaN,NaN,NaN,NaN,NaN
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,NaN,Ready to Move,4 out of 4,Resale,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1 sqft,NaN,NaN
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970 sqft,Ready to Move,1 out of 4,New Property,...,North,Main Road,NaN,2,1,1 Covered,Freehold,NaN,NaN,NaN
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920 sqft,Ready to Move,2 out of 2,New Property,...,East,"Garden/Park, Pool, Main Road",NaN,2,2,"1 Covered,",Freehold,NaN,NaN,NaN
175013,175013,2 BHK Ready to Occupy Flat for sale in Chaitan...,"This lovely 2 BHK Flat in Saddu, Raipur is up ...",229.80 Cr,2669100.0,raipur,750 sqft,Ready to Move,2 out of 9,New Property,...,East,"Garden/Park, Main Road",Chaitanya Greens,2,1,"1 Covered,",Freehold,NaN,NaN,NaN
180481,180481,3 BHK Ready to Occupy Flat for sale Sreekaryam,This attractive 3 BHK apartment can be found f...,1.44 Cr,1200000.0,trivandrum,NaN,Ready to Move,Ground out of 1,Resale,...,East,Main Road,NaN,3,3,NaN,Power Of Attorney,12 sqft,NaN,NaN
174925,174925,2 BHK Ready to Occupy Flat for sale Arya polis...,This gorgeous 2 BHK Flat is available for sale...,35.5 Lac,322727.0,raipur,1105 sqft,Ready to Move,4 out of 4,Resale,...,North,Main Road,NaN,2,3,NaN,Freehold,NaN,NaN,NaN
183490,183490,2 BHK Ready to Occupy Flat for sale orderly ba...,This ready to move-in 2 BHK flat is available ...,35 Lac,291667.0,varanasi,12 sqft,Ready to Move,3 out of 4,Resale,...,East,Main Road,NaN,2,1,NaN,Freehold,NaN,NaN,NaN
172107,172107,2 BHK Ready to Occupy Flat for sale Chamaraja ...,This attractive 2 BHK apartment can be found f...,1.30 Cr,282609.0,mysore,NaN,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,46 sqft,NaN,NaN

In [ ]:
# Count the number of flats per Location.
df.groupby('location').size()

location
agra               450
ahmadnagar          30
ahmedabad        12750
allahabad          180
aurangabad         450
                 ...
varanasi           270
vijayawada         570
visakhapatnam     1800
vrindavan           60
zirakpur          1530
Length: 81, dtype: int64

In [ ]:
# Find the top 5 most expensive flats
df.groupby('Title')['Price (in rupees)'].max()

Title
 Apartment for sale Ballygunge                                                    11394.0
 Apartment for sale Calangute                                                         NaN
 Apartment for sale Dayal Bagh                                                        NaN
 Apartment for sale Kisan Nagar                                                    4667.0
 Apartment for sale Madhavadhara                                                      NaN
                                                                                   ...
> 10 BHK Ready to Occupy Flat for sale in Godrej Connaught One Connaught Place        NaN
> 10 BHK Ready to Occupy Flat for sale in Jyothi Valencia Banjara Hills, NH 9      4800.0
> 10 BHK Ready to Occupy Flat for sale in LIVA ROCA Juhu                          24000.0
> 10 BHK Ready to Occupy Flat for sale in Manikonda Homes Manikonda Jagir          5926.0
> 10 BHK Ready to Occupy Flat for sale in RMZ Galleria Allalasandra Yelahanka      9686.0
Name: Price (in rupees), Length: 32446, dtype: float64

In [ ]:
# Filter all flats where Status = Ready to Move
df[df['Status']=='Ready to Move']

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252 sqft,Ready to Move,5 out of 9,New Property,...,NaN,NaN,Nest Harmony,3,5,1 Covered,NaN,NaN,NaN,NaN
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,3 ground,Ready to Move,1 out of 2,Resale,...,NaN,Main Road,NaN,5,1,NaN,NaN,NaN,NaN,NaN
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,NaN,Ready to Move,4 out of 4,Resale,...,NaN,NaN,NaN,2,NaN,NaN,NaN,1 sqft,NaN,NaN
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970 sqft,Ready to Move,1 out of 4,New Property,...,North,Main Road,NaN,2,1,1 Covered,Freehold,NaN,NaN,NaN
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920 sqft,Ready to Move,2 out of 2,New Property,...,East,"Garden/Park, Pool, Main Road",NaN,2,2,"1 Covered,",Freehold,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187404,187404,3 BHK Ready to Occupy Flat for sale Gazipur,This gorgeous 3 BHK Flat is available for sale...,Call for Price,NaN,zirakpur,1450 sqft,Ready to Move,3 out of 9,Resale,...,North,Garden/Park,NaN,3,3,NaN,Freehold,NaN,NaN,NaN
187442,187442,3 BHK Ready to Occupy Flat for sale in Roseate...,Have a look at this immaculate 3 BHK flat for ...,Call for Price,NaN,zirakpur,1200 sqft,Ready to Move,2 out of 4,New Property,...,North,Garden/Park,Roseate Homes,3,2,1 Open,Freehold,NaN,NaN,NaN
187503,187503,3 BHK Ready to Occupy Flat for sale in Aura Ho...,Up for immediate sale is a 3 BHK apartment in ...,Call for Price,NaN,zirakpur,990 sqft,Ready to Move,4 out of 5,New Property,...,North - East,Pool,Aura Homes 1,3,2,1 Open,Co-operative Society,NaN,NaN,NaN
187506,187506,4 BHK Ready to Occupy Flat for sale Peer Muchalla,Carefully laid out in the prime location of Pe...,Call for Price,NaN,zirakpur,2500 sqft,Ready to Move,6 out of 7,Resale,...,East,"Garden/Park, Main Road",NaN,4,4,2 Covered,Freehold,NaN,NaN,NaN
187513,187513,3 BHK Ready to Occupy Flat for sale in Motia C...,This ready to move-in 3 BHK flat is available ...,Call for Price,NaN,zirakpur,1200 sqft,Ready to Move,3 out of 3,Resale,...,NaN,NaN,Motia City,NaN,NaN,2 Covered,NaN,NaN,NaN,NaN

In [ ]:
# Calculate median Price and compare with mean Price
median_price=df['Price (in rupees)'].median()
mean_price=df['Price (in rupees)'].mean()
print(median_price)
print(mean_price)

6034.0
7583.771884897507

In [ ]:
# Explore relationship between Floor and Price
df[['Floor','Price (in rupees)']]

             Floor  Price (in rupees)
181234  5 out of 9          6700000.0
147912  1 out of 2          4500000.0
180679  4 out of 4          4500000.0
176536  1 out of 4          4041600.0
174894  2 out of 2          3450000.0
...            ...                ...
187404  3 out of 9                NaN
187442  2 out of 4                NaN
187503  4 out of 5                NaN
187506  6 out of 7                NaN
187513  3 out of 3                NaN

[187531 rows x 2 columns]

## Now Write a Short Summery of your findings about house price Data

### **Note**
We will continue working with this dataset step by step. All the tasks you have done so far are preparing you for a Mini Data Analysis Project.

In the next Tasks, we will:

- Apply more advanced visualizations.

- Explore relationships between columns more deeply.

- Answer questions and draw insights from the data.

Keep practicing with this cleaned dataset because it will be the base for all your upcoming exercises.🥰