In [1]:
#link:(https://leetcode.com/studyplan/introduction-to-pandas/)

In [3]:
#1.Create dataframe from list
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    columns=['student_id','age']
    df=pd.DataFrame(student_data,columns=columns)
    return df

In [4]:
#2.Get the size of DataFrame
import pandas as pd

def getDataframeSize(players: pd.DataFrame) -> List[int]:
    columns=['player_id','name','age','position','team']
    df=pd.DataFrame(players,columns=columns)
    result=list(df.shape)
    return result

In [5]:
#3.Display first 3 rows
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    columns=['employee_id','name','department','salary']
    df=pd.DataFrame(employees,columns=columns)
    return df[0:3]

In [6]:
#4.Select Data
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    columns=['student_id','name','age']
    df=pd.DataFrame(students,columns=columns)
    return df[df['student_id']==101][['name','age']]

In [7]:
#5.Create a new column
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    columns=['name','salary']
    df=pd.DataFrame(employees,columns=columns)
    df['bonus']=2*df['salary']
    return df

In [8]:
#6.Drop duplicate rows
import pandas as pd

def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    columns=['customer_id','name','email']
    df=pd.DataFrame(customers,columns=columns)
    df['email']=df['email'].drop_duplicates()
    df=df.dropna()
    return df

In [9]:
#7.Drop Missing Data
import pandas as pd

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    columns=['student_id','name','age']
    df=pd.DataFrame(students,columns=columns)
    df1=df.dropna(subset='name')
    return df1

In [11]:
#8.Modify Column
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    columns=['name','salary']
    df=pd.DataFrame(employees,columns=columns)
    df['salary']=2*df['salary']
    return df

In [12]:
#9.Rename Column
import pandas as pd

def renameColumns(students: pd.DataFrame) -> pd.DataFrame:
    columns=['id','first','last','age']
    df=pd.DataFrame(students,columns=columns)
    df.rename(columns={'id':'student_id','first':'first_name','last':'last_name','age':'age_in_years'},inplace=True)
    return df

In [14]:
#10.Change Data Type
import pandas as pd

def changeDatatype(students: pd.DataFrame) -> pd.DataFrame:
    columns=['student_id','name','age','grade']
    df=pd.DataFrame(students,columns=columns)
    df['grade']=df['grade'].astype('int')
    return df

In [15]:
#11.Fill Missing Data
import pandas as pd

def fillMissingValues(products: pd.DataFrame) -> pd.DataFrame:
    columns=['name','quantity','price']
    df=pd.DataFrame(products,columns=columns)
    df['quantity'].fillna(0,inplace=True)
    return df

In [18]:
#12.Reshape Data:Concatinate
import pandas as pd

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    df_1=pd.DataFrame(df1,columns=['student_id','name','age'])
    df_2=pd.DataFrame(df2,columns=['student_id','name','age'])
    concat_df=pd.concat([df1,df2],axis=0)
    return concat_df

In [19]:
#13.Reshape Data:Pivot
import pandas as pd

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    df=pd.DataFrame(weather,columns=['city','month','temperature'])
    pivot_df=df.pivot(index='month',columns='city',values='temperature')
    return pivot_df

In [21]:
#14.Reshape Data:Milt
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    df=pd.DataFrame(report,columns=['product','quarter_1','quarter_2','quarter_3','quarter_4'])
    melted=df.melt(id_vars=['product'],value_vars=['quarter_1','quarter_2','quarter_3','quarter_4'],var_name='quarter',value_name='sales')
    return melted

In [22]:
#15.Method Chaining
import pandas as pd

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    df=pd.DataFrame(animals,columns=['name','species','age','weight'])
    df1=df[df['weight']>100]
    df1=df1.sort_values(by='weight',ascending=False)
    result_df=pd.DataFrame(df1['name'])
    return result_df